/*barra navegación*/
.bg-body-tertiary{
    background-color: rgb(178, 178, 186);
}
.btn-outline-success{
    color: rgb(116, 116, 239);
    border-color: rgb(116, 116, 239);
}
/*banner*/
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/imgs/bannerpng.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 70vh;
}
/*.text-center{
    transition: 400ms;
    box-shadow: rgb(0, 0, 0);
}
    .text-center:hover{
        opacity: 0,3;
    }
    */
.centrado{
    color:rgb(209, 209, 223);
}
section.presentacion{
    background-color: aliceblue;
}
/*descripción foto perfil*/
h6{
    margin-top: 5%;
    position: center;
}
/*foto perfil*/
.col-6{
    margin-top: -10%;
    margin-left: -20%;
}
/*experiencia*/
.Experiencia{
    background-color: white;
}
h1{
    text-align: left;
    padding: 5%;
    animation:alternate-reverse
}
.dropdown-toggle{
    background-color: aliceblue;
}
/*colores carousel*/
.carousel-control-prev-icon{
    color: black;
}
.login{
    height: 70vh;
}
.formulario-login{
    margin-top: 10%;
}
.link{
    text-decoration: none;
    color: #000;
}